* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
}

.logo a {
    font-size: 22px;
    border-bottom: none;
}

main {
    padding: 20px 20px 0px 20px;
}

.content {
    padding: 0px 0px 10px 0px;
}

.content-title {
    padding: 10px 0px;
    font-size: 18px;
}

.content-about {
    padding: 5px 0px;
}

.content-about p {
    padding: 5px 0px;
}

.photographs {
    padding: 10px 0px;
}

.photograph {
    border: 1px solid #EEEEEE;
    padding: 10px;
}

.photograph img {
    width: 100%;
}